{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS:GO | Global War | Игровой бот</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>
    
<div class="container">

    <header>

        <div class="logoBlock">
            <img src="{% static '/img/logo.png' %}" alt="logo">
        </div>
        
    </header>

    <div class="menu">
        
        <div class="button about">
            <h1 class="title">{{menu.about.key}}</h1>
            <img class="icon" src="media/{{ menu.about.picture }}" alt="icon">
            <p class="text">{{menu.about.value}}</p>
        </div>

        <div class="button shop">
            <h1 class="title">{{menu.shop.key}}</h1>
            <img class="icon" src="media/{{ menu.shop.picture }}" alt="icon">
            <p class="text">{{menu.shop.value}}</p>
        </div>

        <div class="button faq">
            <h1 class="title">{{menu.faq.key}}</h1>
            <img class="icon" src="media/{{ menu.faq.picture }}" alt="icon">
            <p class="text">{{menu.faq.value}}</p>
        </div>

    </div>
    
    <div class="blocks">
        <section class="content-block">
            <h2 class="title">{{menu.about.key}}</h2>
        

        </section>

        <section class="content-block">
            <h2 class="title">{{menu.shop.key}}</h2>

        

        </section>

        <section class="content-block">
            <h2 class="title">{{menu.faq.key}}</h2>
        

        </section>
    </div>

</div>

</body>
</html>